# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run DB test image
      run: docker run -e "ACCEPT_EULA=Y" -e "MSSQL_SA_PASSWORD=Password.123" -p 1433:1433 mcr.microsoft.com/mssql/server:2022-latest
    - name: Create test table
      run: /opt/mssql-tools18/bin/sqlcmd -No -S localhost -U sa -P "Password.123" -q "CREATE TABLE test (id INT); INSERT INTO test VALUES (6623)"
    - name: Test
      run: dotnet test --no-build --verbosity normal
